.wrapper_register {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-700);

    padding: var(--spacing-700);

    align-items: center;
    justify-content: center;
}

.wrapper_roles {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    align-items: center;
    justify-content: center;
}

.wrapper_section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    justify-content: space-between;
}

.typo_info {
    text-align: center;
}

.box_roles {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
}

.btn_user,
.btn_shelter {
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
}

.wrapper_info {
    display: flex;
    align-items: start;
}

.box_info {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-900);
    
    padding: var(--spacing);
}

.wrapper_shelter_info {
    padding: var(--spacing);
}

.box_input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    width: 500px;
}

.box_shelter_input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    width: 500px;
}

.btn_submit {
    width: 250px;
}
