.wrapper_page {
    display: flex;
    /* justify-content: center; */
    gap:24px;
    align-items:flex-start;
    /* padding: 40px 0; */
}

.wrapper_list {
    flex: 1;
    /* width: 1280px;

    display: flex;
    flex-direction: column;
    gap: 24px; */
}

.box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    /* flex:1; */
    display: flex;
    gap: 32px;
    align-items: flex-start;
}

/* 왼쪽 검색 */
.filter_box {
    width: 280px;
    flex-shrink: 0;

    background: var(--color-surface);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-medium);

    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    position: sticky;
    top: 90px;
}

/* 오른쪽 */
.list_section {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.box_list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
}


/* .wrapper_page {
    width: 100%;

    display: flex;
    justify-content: center;
}

.wrapper_list {
    width: 1200px;

    display: flex;
    flex-direction: column;

    gap: 32px;
}

.box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_list {
    display: grid;

    grid-template-columns: repeat(4, 240px);

    gap: 24px;

    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
} */