.wrapper_header {
    --header-height: 80px;

    width: 100%;
    height: var(--header-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 0 32px 0 32px;
    
    background-color: var(--color-surface);

    box-shadow: var(--shadow-small)
}

.box_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    cursor: pointer;
    
    width: 190px;
}

.box_link {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

.box_mypage {
    --header-user-image-size: 48px;
    --header-user-nickname-gap: 10px;
    --header-user-nickname-size: 120px;

    position: relative;

    display: inline-flex;
    justify-content: right;
}

.box_user {
    display: flex;
    flex-direction: row;

    height: 100%;

    align-items: center;
    justify-content: center;
}

.img_profile {
    width: var(--header-user-image-size);
    height: var(--header-user-image-size);

    border: none;

    background-color: var(--color-border);

    box-shadow: var(--shadow-small);

    border-radius: var(--radius-900);

    object-fit: cover;
}

.nickname {
    padding-left: var(--header-user-nickname-gap);
    padding-right: var(--header-user-nickname-gap);

    width: var(--header-user-nickname-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    color: var(--color-text-secondary);
}

.box_dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: var(--spacing-200);
    gap: var(--spacing-100);

    top: var(--header-height);
    margin-top: -25px;

    width: 80%;

    box-shadow: var(--shadow-medium);

    background-color: var(--color-surface);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    transition: 
        opacity var(--transition-opacity) ease,
        transform var(--transition-transform) ease;
}

.box_dropdown_open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.icon_chevron {
    flex-shrink: 0;

    transition: 
        transform var(--transition-transform) ease;
}

.icon_chevron_open {
    flex-shrink: 0;

    transform: rotate(180deg);
}