/* Icon */

.wrapper_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    background-color: transparent;

    padding: var(--icon-padding);

    border-radius: var(--icon-box-radius);
}

.bordered {
    border: 1px solid;
    border-color: var(--color-primary);
}

.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;

    font-variation-settings: 
        "FILL" var(--icon-fill, 0),
        "wght" var(--icon-wght, 400),
        "GRAD" var(--icon-grad, 0),
        "opsz" var(--icon-opsz, 24);

    font-size: var(--icon-size-default);

    user-select: none;
}

.outlined {
    font-family: "Material Symbols Outlined";
}

.rounded {
    font-family: "Material Symbols Rounded";
}

.sharp {
    font-family: "Material Symbols Sharp";
}

/* Size */

.badge {
    width: var(--icon-box-size-badge);
    height: var(--icon-box-size-badge);
}

.badge .icon {
    font-size: var(--icon-size-badge);
}

.input {
    width: var(--icon-box-size-input);
    height: var(--icon-box-size-input);
}

.input .icon {
    font-size: var(--icon-size-input);
}

.default {
    width: var(--icon-box-size-default);
    height: var(--icon-box-size-default);
}

.default .icon {
    font-size: var(--icon-size-default);
}

.status {
    width: var(--icon-box-size-status);
    height: var(--icon-box-size-status);
}

.status .icon {
    font-size: var(--icon-size-status);
}

.hero {
    width: var(--icon-box-size-hero);
    height: var(--icon-box-size-hero);
}

.hero .icon {
    font-size: var(--icon-size-hero);
}

/* Colors */

.color_default {
    color: var(--color-icon-default)
}

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.disabled {
    color: var(--color-text-disabled);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.error {
    color: var(--color-error);
}

.color_true {
    color: var(--color-icon-button-true);
}

.color_false {
    color: var(--color-icon-button-false);
}

.white {
    color: var(--color-surface);
}