/* Tooltip */

.wrapper_tooltip {
    position: relative;

    display: inline-flex;
    align-items: center;
}

.btn_tooltip {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;
    border-radius: var(--radius-900);
    background-color: var(--color-secondary);

    width: var(--tooltip-size);
    height: var(--tooltip-size);

    cursor: pointer;
}

.tooltip {
    position: absolute;
    z-index: var(--z-index-tooltip);

    min-width: max-content;
    max-width: 240px;

    padding: var(--spacing-100);

    border: 1px solid var(--color-primary-200);
    border-radius: var(--radius-100);

    background-color: var(--color-primary-100);
    color: var(--color-text-placeholder);

    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-caption);
    line-height: var(--line-height-caption);

    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden;

    transition: 
        opacity var(--transition-opacity) ease,
        transform var(--transition-transform) ease;
}

.wrapper_tooltip:hover .tooltip,
.wrapper_tooltip:focus-within .tooltip {
    opacity: 1;
    visibility: visible;

    transform: translateX(-50%) translateY(-4px);
}

/* Position */

.top {
    bottom: calc(100% + var(--spacing-100));
    left: 50%;
    transform: translateX(-50%) translateY(4px);
}

.wrapper_tooltip:hover .top,
.wrapper_tooltip:focus-within .top {
    transform: translateX(-50%) translateY(0);
}

.bottom {
    top: calc(100% + var(--spacing-100));
    left: 50%;
    transform: translateX(-50%) translateY(-4px);
}

.wrapper_tooltip:hover .bottom,
.wrapper_tooltip:focus-within .bottom {
    transform: translateX(-50%) translateY(0);
}

.left {
    right: calc(100% + var(--spacing-100));
    top: 50%;
    transform: translateY(-50%) translateX(4px);
}

.wrapper_tooltip:hover .left,
.wrapper_tooltip:focus-within .left {
    transform: translateY(-50%) translateX(0);
}

.right {
    left: calc(100% + var(--spacing-100));
    top: 50%;
    transform: translateY(-50%) translateX(-4px);
}

.wrapper_tooltip:hover .right,
.wrapper_tooltip:focus-within .right {
    transform: translateY(-50%) translateX(0);
}