/* Input Password */

.wrapper_password {
    display: inline-block;
    width: 100%;
}

.icon_visibility_off,
.icon_visibility {
    position: absolute;
    top: 50%;
    right: var(--spacing-100);

    transform: translateY(-50%);

    z-index: 1;
}