.wrapper_info {
    display: flex;
    align-items: start;

    align-items: center;
}

.box_info {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-900);
    
    padding: var(--spacing);
}

.box_input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    width: 500px;
}

.btn_save {
    width: 250px;
}

.btn_password {
    margin-top: var(--spacing-100);
}
